.logs {
  background-color: black;
  font-size: 14px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin: 0px;
}

.nav-tabs {
  margin-bottom: 0;
}

.status-offline {
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 4px;
  width: 12px;
  height: 12px;
  background: red;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.status-online {
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 4px;
  width: 12px;
  height: 12px;
  background: mediumseagreen;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.main-container {
  padding-top: 30px;
}

#image-wrapper, #image-wrapper>span {
  width: 380px;
  /*max-height: 400px;*/
}
#image-wrapper img {
  width: 100%;
}

/*Completely new styles*/
.margin-container-box {
  margin: 10px;
}
.wide-search {
  width: 400px;
}
.main.container {
    /*margin-top: 70px;*/
    width: 100%;
    background-color: #eee;
}
#map-first {
  width: 100%;
  height: 100%;
  /*margin-top: 70px;*/
}
.pad-top-bottom-zero {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#right-main-wrapper {
  /*margin-top: 70px;*/
  overflow-y: scroll;
  max-height: 100%;
  padding-top: 90px;
}
#image-cards {
  width: 100%;
}
.main.container > .ui.grid {
  overflow-y: scroll; 
}
#upload-container {
  min-height: 400px;
  padding: 0px;
  margin: 0px;
}
.upload-tab-content {
  border: none !important;
}
.upload-tab-btn {
  cursor: pointer;
}
html, body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.active-selected {
  background-color: #54ffff !important;
  color: rgba(0,0,0,.6) !important;
}