.logs {
  background-color: black;
  font-size: 14px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin: 0px;
}

.nav-tabs {
  margin-bottom: 0;
}

.status-offline {
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 4px;
  width: 12px;
  height: 12px;
  background: red;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.status-online {
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 4px;
  width: 12px;
  height: 12px;
  background: mediumseagreen;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.main-container {
  padding-top: 30px;
}

#image-wrapper, #image-wrapper>span {
  /*width: 380px;*/
  max-height: 380px !important;
}

#image-wrapper img {
  max-height: 350px;
}

/*Loader styles*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

/*Completely new styles*/
#main-nav-bar {
  /*cornflowerblue*/
  background: #6495ed;
  /*Maroon*/
  /*background: maroon;*/
}
.margin-container-box {
  margin: 10px;
}
.wide-search {
  width: 400px;
}
.main.container {
    /*margin-top: 70px;*/
    width: 100%;
    background-color: #eee;
}
#map-first {
  width: 100% !important;
  height: 100% !important;
  /*margin-top: 70px;*/
}
#map-second {
  width: 100% !important;
  min-height: 200px;
  max-width: 100%;
  max-height: 210px;
}
.pad-top-bottom-zero {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#right-main-wrapper {
  /*margin-top: 70px;*/
  overflow-y: scroll;
  max-height: 100%;
  padding-top: 90px;
}
#image-cards {
  width: 100%;
}
.main.container > .ui.grid {
  overflow-y: scroll;
}
#upload-container {
  min-height: 380px;
  padding: 0px;
  margin: 0px;
}
.upload-tab-content {
  border: none !important;
}
.upload-tab-btn {
  cursor: pointer;
}
html, body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#image-cards > .card > .content {
  padding: 8px;
}
#image-cards > .card > .extra.content {
  padding: 8px;
}
.active-selected {
  background-color: #54ffff !important;
  color: rgba(0,0,0,.6) !important;
}
#second-tab-content {
  padding-top: 20px;
}
#final-details p{
  font-weight: bold;
}
#final-image {
  max-width: 100%;
  max-height: 100%;
  max-height: 350px;
}
#settings-btn {
  cursor: pointer;
  font-size: 20px;
  margin: auto;
}
#settings-btn-wrapper {
  margin: auto;
}

.hidden {
  display: none !important;
}

.ui-alert-content-bottom-left {
  bottom: 20px !important;
}

.center-crop-image {
  background-repeat: no-repeat;
  width: 100%;
  /*height: 250px;*/
  background-size: cover !important;
  background-position: center !important;
  height: calc(40% - 100px) !important;
}

#single-image-modal img {
  max-height: 500px;
}

#my-reward {
  font-weight: bold;
}

.text-elipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#nprogress .bar {
  background: #555;
  height: 3px;
}

.expand.icon{
  cursor:pointer;
  font-size: 1.3em;
  position:absolute;
  margin:0em;
  top:0.785757em;
  right:1em;
  opacity:0.7;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

.expand.icon:hover{
  opacity: 1;
}
